@model IEnumerable<Product>
@using RepositoryDesignPatternTraining.Models.DomainModels.ProductAggregates

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p style="color:red;font-weight:bold">
    @TempData["Index"]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ProductCode
            </th>
            <th>
                Title
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>
                @product.ProductCode
            </td>
            <td>
                @product.Title
            </td>
            <td>
                @product.Quantity
            </td>
            <td>
                @product.ProductCode
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@product.Id">Edit</a> | 
                <a asp-action="Details" asp-route-id="@product.Id">Details</a> | 
                <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>